:root {
	//main ui colors
	--color-primary: #f52d56;
	--color-secondary: #ff9500;

	--color-gray-1: #9b9b9b;
	--color-gray-2: #c1c0c9;
	--color-gray-3: #dad9e2;
	--color-white: #f5f5f5;

	//text-colors
	--color-gray-dark: #262628;
}
