:root {
	--color-primary: #f52d56;
	--color-secondary: #ff9500;

	--color-gray-text: #5c5b5b; //dim text color
	--color-gray-1: #9b9b9b;
	--color-gray-2: #c1c0c9;
	--color-gray-3: #dad9e2;
	--color-white: #e4e3e3; //bg color
	--color-pure-white: rgb(255, 255, 255); //component bg color

	--color-gray-dark: #262628; //text-colors
}
