.Review-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Review-header img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transform: translateY(11px);
}

.Review-header svg{
    height: 1.2rem;
    width: 1.2rem;
    fill: yellow;
}
.Review-header svg:hover{
    fill: yellow;
}

.Review-header h2{
    font-size: 16px;
    width: 50%;
    margin-right: 10px;
    transform: translateY(3px);
}

.Review-section p{
    margin-left: 62px;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    width: 280px;
}
.Review-section .review-time{
    font-size: 1rem;
    margin-bottom: 10px;
    transform: translateY(-7px);
    color: #ccc;
}

hr{
    margin: 5px 0;
    opacity: 0.5;
}